<div class="d-flex justify-content-center">
<form>
  <div class="mb-3">
    <label for="exampleInputName" class="form-label">User</label>
    <input type="text" class="form-control" id="examplename" aria-describedby="example-name">
    <div id="textname" class="form-text">We'll never share your user with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div> <br>
  <div>
    <button type="submit" class="btn btn-success">LOG IN</button> 
  </div>
  
  <hr>
  <button type="submit" class="btn btn-success">SIGN IN</button>
</form>
</div>