<div class="container-fluid">
<h2>Centro de mensajes: </h2>
    
<form id="chat">
    <div class="col-sm-3">
        <label for="title" class="form-label">Enter your email:</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="email" required>
    </div>

    <div class="col-sm-3">
        <label for="message" class="form-label">Enter your message:</label>
        <input type="text" class="form-control" id="message" name="message" aria-describedby="message" required>
    </div>
<br>
    <input type="submit" id="send" class="btn btn-primary" value="Send">
</form>
    <div id="messagess"></div>
<br>
</div>